<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POSTFORM</title>
</head>

<body>
    <div class="container">
        <h1 class="display-3">POST Form</h1>
        <!-- name is important property -->
        <form method="POST" action="/api/v1/signup" enctype="multipart/form-data">
            <div class="container">
                <label for="name"><b>firstname</b></label>
                <input type="text" class="name" placeholder="Enter name" name="name">

                <label for="email"><b>email</b></label>
                <input type="text" class="email" placeholder="Enter Email" name="email">

                <label for="psw"><b>Password</b></label>
                <input type="password" id="password" placeholder="Enter Password" name="password">
                <label for="photo">Select a file:</label>
                <input type="file" id="myfile" name="photo">

                <button id="btn" type="submit">submit</button>
            </div>

        </form>

    </div>

</body>

</html>